@import "../../styles/variables.scss";

.menuTitle {
  width: 100%;
  background-color: #b2b2b2;
  border-radius: 1rem;
  text-align: center;
  padding: 12px;
  margin: 50px 0;
}

//MENU DISPLAY
.menuDisplay {
  display: flex;
}
.category {
  width: 200px;
}
.item {
  flex-grow: 1;
}
