@import "../../styles/variables.scss";
.menuWrapper {
  padding: 50px 0;
}

.menuTitle {
  width: 100%;
  background-color: $light-gray;
  border-radius: 1rem;
  text-align: center;
  padding: 12px;
  margin-bottom: 50px;
}

//MENU DISPLAY
.menuDisplay {
  display: flex;
}
.category {
  margin-right: 5%;
}
.categoryList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: sticky;
  top: 120px;
}
//ITEM DISPLAY
.item {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  align-items: stretch;
}

//Responsive
@media screen and (max-width: $medium) {
  .item {
    gap: 48px;
  }
}

@media screen and (max-width: $medium) {
  .item {
    gap: 24px;
  }
}
