@import "../../styles/variables.scss";
.menuWrapper {
  padding-top: calc($header-height + 50px);
  min-height: 100vh;
}

.menuTitle {
  width: 100%;
  text-align: center;
  padding: 12px;
  margin-bottom: 50px;
}

//MENU DISPLAY
.menuDisplay {
  display: flex;
}
.category {
  margin-right: 5%;
}
.categoryList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: sticky;
  top: 120px;
}
.categoryItem {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
//ITEM DISPLAY
.itemSection {
  flex-grow: 1;
  padding-left: 100px;
  border-left: 1px solid black;
}
.item {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.categorySection {
  padding-bottom: 80px;
}
.categoryTitle {
  padding-bottom: 20px;
}
//Responsive
@media screen and (max-width: $medium) {
  .item {
    gap: 48px;
  }
  .itemSection {
    padding-left: 50px;
  }
}

@media screen and (max-width: $medium) {
  .category {
    margin-left: 2%;
  }
  .item {
    gap: 24px;
  }
  .itemSection {
    padding-left: 20px;
    padding-right: 10px;
  }
}
