@import "../../styles/variables.scss";

.gridProduct {
  padding: 50px 0;
  overflow-x: hidden;
}

.sectionTitle {
  text-align: center;
  padding: 50px 0 50px 0;
}
.gridSectionWrapper {
  display: flex;
  padding: 50px 0;
  align-items: center;
}

//GRID SELECTION
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 24px;
  height: 100%;
}

//item
.gridItemWrapper {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridItemWrapper::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 120px;
  background: $grid-background-border;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: -1;
}
.gridItemWrapper::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: $grid-background-border;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: -1;
}
.gridItem {
  width: 50px;
  height: 80px;
}

.gridItemBackground {
  position: absolute;
  width: 48px;
  height: 48px;
  filter: blur(16px);
  border-radius: 100%;
}

//ITEM DISPLAY
.itemDisplayWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemContainer {
  border: 2px solid black;
  width: 70%;
  border-radius: 12px;
  min-height: 600px;
  text-align: center;
}
.itemImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
}

.itemImage {
  position: absolute;
  width: 200px;
  height: 300px;
  transform: scale(1.3) rotate(15deg);
}

.itemText {
  margin: 50px 50px 0 50px;
  overflow: hidden;
  p {
    font-weight: 300;
  }
}

.itemTitle {
  position: relative;
}
.shadowText {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.3;
  transform: translate(30px, 10px);
}
.name {
  text-align: center;
  padding: 24px 0;
}

.displayItemBackground {
  position: absolute;
  width: 180px;
  height: 180px;
  filter: blur(26px);
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//Responsive
@media screen and (max-width: $medium) {
  //GRID SELECTION
  .gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    padding-right: 36px;
    padding-left: 0;
  }

  //GRID SELECTION item
  .gridItemWrapper {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gridItemWrapper::before {
    display: none;
  }
  .gridItemWrapper::after {
    display: none;
  }
  .itemImage {
    position: absolute;
    width: 170px;
    transform: scale(1.3) rotate(15deg);
  }
  //ITEM DISPLAY
  .itemContainer {
    border: 1px solid black;
    width: 100%;
  }
  .itemText {
    margin: 25px 25px 0 25px;
    overflow: hidden;
    p {
      font-weight: 300;
    }
  }
}

@media screen and (max-width: $average) {
  .sectionTitle {
    text-align: center;
    padding: 0 10% 50px 10%;
  }
}

@media screen and (max-width: $small) {
  .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 36px;
  }

  .gridWrapper li:nth-last-child(-n + 3) {
    display: none;
  }

  .itemDisplayWrapper {
    margin-right: 5px;
  }
}
