@import "../../../styles/variables.scss";

.footerWrapper {
  width: 100%;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
}
