@import "../../styles/variables.scss";

.carouselContainer {
  padding-top: $header-height;
}
.promotionContainer {
  padding-top: $header-height;
  div {
    margin-bottom: 12px;
  }
}
.carouselContainer {
  display: none;
}
// @media screen and (max-width: $average) {
//   .promotionContainer {
//     display: block;
//   }
//   .carouselContainer {
//     display: none;
//   }
// }
