@import "../../styles/variables.scss";

.menuHeroWrapper {
  width: 100%;
  background: linear-gradient(90deg, rgba(183, 227, 237, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.menuHero {
  padding-top: calc($header-height + 50px);
  position: relative;
  display: flex;
}

//LEFT SECTION
.leftSection {
  width: 60%;
  flex-grow: 1;
}
.introduction {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}
.benefitList {
  li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
    p {
      width: 80%;
    }
  }
}
.CTA {
  text-align: center;
}

.thirdPartyWrapper {
  padding: 50px 0;
}

//RIGHT SECTION

//RESPONSIVE
@media screen and (max-width: $medium) {
  .rightSection {
    padding-top: calc($header-height + 50px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    text-align: center;
    opacity: 0.5;
    z-index: -1;
  }
}

@media screen and (max-width: $small) {
  .rightSection {
    display: none;
  }
}
