@import "../../styles/variables.scss";

.h2Text {
  font-size: 30px;
  text-align: center;
}

.sectionAbout {
  p {
    font-weight: 300;
    line-height: 2rem;
  }
  > div {
    margin-top: 50px;
  }
}

.slogan {
  display: flex;
  gap: 10rem;
  margin-top: 100px !important;
}

.slogan_desc {
  h2 {
    text-align: left;
  }
}

//VISION
.vision {
  margin-top: 100px !important;
  display: flex;
  gap: 4rem;
  > div {
    position: relative;
  }
  h3 {
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 8px;
      height: 2rem;
      background-color: black;
    }
  }
}
@media screen and (max-width: $medium) {
  .vision {
    margin-top: 100px !important;
    display: flex;
    flex-direction: column;
  }
}

.strengthContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.strengthWrapper {
  width: 80%;
}
