@import "../../styles/variables.scss";

.orderMethod {
  display: flex;
}

//TEXT SECTION
.textSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .textContainer {
    h2 {
      text-align: center;
    }
  }
}

//THIRD PARTY
.thirdPartyWrapper {
  padding: 100px 0 50px 0;
  p {
    text-align: center;
  }
}
