@import "../../../styles/variables.scss";

//WEB ORDER BTN
.webOrderBtn {
  width: 50%;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  background-color: #000000;
}

//CATEGORY BTN
.categoryBtn {
  width: 200px;
  border: none;
  border-radius: 12px;
  padding: 24px 0;
}
.categorySelected {
  background-color: $light-blue;
  transition: 0.5s;
}
//Responsive CATEGORY BTN
@media screen and (max-width: $medium) {
  .categoryBtn {
    width: 150px;
    padding: 16px;
  }
}
@media screen and (max-width: $small) {
  .categoryBtn {
    width: 100px;
    padding: 4px 0;

    span {
      font-size: 12px !important;
    }
  }
}

//GetDirectionBtn
.getDirectionBtn {
  width: 120px;
  height: 60px;
  border: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: 0.5s;

  &:hover {
    scale: 110%;
    transition: 0.5s;
  }
}
