@import "../../../styles/variables.scss";

.sectionHeader {
  width: 100%;
}

.navbarBackground {
  position: fixed;
  height: $header-height;
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}

.navWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
}

.navList {
  display: flex;
  gap: 16px;
  margin: 0;
  li {
    color: $inactive-text;
    :hover {
      color: black;
    }
  }
}

.selected {
  position: relative;
  color: black !important;
  ::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    bottom: 0;
    left: 5%;
    animation: revealLTR 0.5s forwards;
  }
}

.brandLogo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.brandText {
  font-family: HelveticaNeue, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 40px;
}
.socialWrapper {
  display: flex;
  gap: 12px;
}

//Toggle Button
.toggleBtn {
  display: none;
  position: absolute;
  top: 0;
  transform: translateY(25%);
  left: 5%;
  padding: 12px;
  border: 0.5px solid $light-gray;
  background: #ffffff;
}

//Responsive
@media screen and (max-width: $medium) {
  .navbarBackground {
    align-items: flex-end;
  }
  .navWrapper {
    justify-content: flex-end;
  }
  .navList {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
    flex-direction: column;
    z-index: 99;
    li {
      padding: 12px 0px 12px 48px;
    }
    animation: fadeTopBot 0.5s forwards;
  }
  .toggleBtn {
    display: block;
  }
  .showNav {
    display: block;
  }
  .selected {
    background-color: $light-blue;
    ::after {
      content: "";
      display: hidden;
      animation: none;
    }
  }
}
