@import "../../../styles/variables.scss";

.sectionHeader {
  width: 100%;
}

.navbarBackground {
  height: $header-height;
  background: rgb(42, 42, 42);
  // background: linear-gradient(180deg, rgba(42, 42, 42, 0.3393732492997199) 0%, rgba(255, 255, 255, 0) 100%);
  background: #ffffff;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
  padding: 16px 0;
}
.selected {
  position: relative;
  ::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    bottom: 0;
    left: 5%;
    animation: revealLTR 0.5s forwards;
  }
}
.brandLogo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.brandText {
  font-family: HelveticaNeue, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 40px;
}
.socialWrapper {
  display: flex;
  gap: 12px;
}

//Responsive
@media screen and (max-width: $medium) {
  .headerWrapper {
    padding: 32px 0;
  }
  .navbarBackground {
    height: auto;
  }
  .selected {
    ::after {
      content: "";
      display: hidden;
      animation: none;
    }
  }
}
