.sectionHeader {
  width: 100%;
}

.navbarBackground {
  height: 100px;
  background: rgb(42, 42, 42);
  background: linear-gradient(180deg, rgba(42, 42, 42, 0.3393732492997199) 0%, rgba(255, 255, 255, 0) 100%);
}
.brandLogo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.socialWrapper {
  display: flex;
  gap: 12px;
}
