.sectionProductPromote {
  padding-top: 100px;
}

.productWrapper {
  position: relative;
  padding: 24px 0;
  margin: 100px 0;
}
.animationLTR {
  transform: translateX(100vw);
  animation: left-to-right 1s ease-out forwards;
}
.animationRTL {
  transform: translateX(-100vw);
  animation: right-to-left 1s ease-out forwards;
}
.productTitle {
  text-align: center;
}
.productContentContainer {
  display: flex;
  justify-content: space-between;
}

//HIGHLIGHT BANNER UNDER PRODUCT SECTIOn
//LEFT SIDE CSS
.coloredHighlight {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 60%;
}
.coloredHighlightShort {
  width: 20px;
  right: 0;
}

//RIGHT SIDE CSS
.coloredHighlightRight {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 60%;
}
.coloredHighlightShortRight {
  width: 20px;
  left: 0;
}
//PRODUCT IMAGE SECTION

.productImagesContainer {
  display: flex;
}
.verticalText {
  writing-mode: vertical-rl;
  font-weight: 500;
  font-size: 24px;
  line-height: 54px;
  text-transform: uppercase;
}

.productDisplay {
  padding: 0 24px;
  align-self: flex-end;
}

.textContainer {
  width: 50%;
  position: relative;
}
.productName {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 500;
}
.shadowText {
  position: absolute;
  font-size: 36px;
  font-weight: 500;
  opacity: 0.3;
  transform: translate(-50px, -30px);
}
.productDesc {
  font-size: 24px;
  font-weight: 300;
}

//Category section
.productCategory {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.categoryOption {
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
  width: 200px;
  height: 200px;
}

.selected {
  background-color: red;
}

//Animation
@keyframes left-to-right {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
