.promotionWrapper {
  width: 100%;
  background-color: #dddddd;
  position: relative;
}
.buttonWrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.CTA {
  padding: 1rem 2rem;
  border: 0;
  border-radius: 6px;
  background-color: #05b2f0;
  font-size: 48px;
  font-weight: 500;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
